"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "1d8d251b-f748-40d7-b33c-c8951ee52a76"
  "linter-ui-default": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
